In [1]:
# Importation des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## On charge notre dataframe nettoyé:
df= pd.read_csv('consoBat_df9.csv')

In [3]:
df.head()

,OSEBuildingID,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,CouncilDistrictCode,...,SourceEUIWN(kBtu/sf),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),DefaultData,ComplianceStatus,TotalGHGEmissions,GHGEmissionsIntensity,BuildingAge
0,1,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,7,...,189.000000,7456910.0,2003882.00,3946027.0,1276453.0,False,Compliant,249.98,2.83,89
1,2,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,7,...,179.399994,8664479.0,0.00,3242851.0,5145082.0,False,Compliant,295.86,2.86,20
2,5,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,7,...,224.000000,6946800.5,2214446.25,2768924.0,1811213.0,False,Compliant,286.43,4.67,90
3,10,NonResidential,Hotel,Camlin,1619 9th Avenue,Seattle,WA,98101.0,0660000825,7,...,154.699997,6062767.5,0.00,2811215.0,2947580.0,False,Compliant,176.14,2.12,90
4,11,NonResidential,Other,Paramount Theatre,911 Pine St,Seattle,WA,98101.0,0660000955,7,...,152.300003,7067881.5,2276286.50,3636655.0,385189.0,False,Compliant,221.51,2.16,90

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292 entries, 0 to 1291
Data columns (total 35 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    1292 non-null   int64
 1   BuildingType                     1292 non-null   object
 2   PrimaryPropertyType              1292 non-null   object
 3   PropertyName                     1292 non-null   object
 4   Address                          1292 non-null   object
 5   City                             1292 non-null   object
 6   State                            1292 non-null   object
 7   ZipCode                          1292 non-null   float64
 8   TaxParcelIdentificationNumber    1292 non-null   object
 9   CouncilDistrictCode              1292 non-null   int64
 10  Neighborhood                     1292 non-null   object
 11  Latitude                         1292 non-null   float64
 12  Longitude                        1292 non-null   float64
 13  NumberofBuildings                1292 non-null   float64
 14  NumberofFloors                   1292 non-null   int64
 15  PropertyGFATotal                 1292 non-null   int64
 16  PropertyGFAParking               1292 non-null   int64
 17  PropertyGFABuilding(s)           1292 non-null   int64
 18  ListOfAllPropertyUseTypes        1292 non-null   object
 19  LargestPropertyUseType           1288 non-null   object
 20  LargestPropertyUseTypeGFA        1288 non-null   float64
 21  SecondLargestPropertyUseType     682 non-null    object
 22  SecondLargestPropertyUseTypeGFA  682 non-null    float64
 23  ENERGYSTARScore                  887 non-null    float64
 24  SiteEUIWN(kBtu/sf)               1292 non-null   float64
 25  SourceEUIWN(kBtu/sf)             1292 non-null   float64
 26  SiteEnergyUseWN(kBtu)            1292 non-null   float64
 27  SteamUse(kBtu)                   1292 non-null   float64
 28  Electricity(kBtu)                1292 non-null   float64
 29  NaturalGas(kBtu)                 1292 non-null   float64
 30  DefaultData                      1292 non-null   bool
 31  ComplianceStatus                 1292 non-null   object
 32  TotalGHGEmissions                1292 non-null   float64
 33  GHGEmissionsIntensity            1292 non-null   float64
 34  BuildingAge                      1292 non-null   int64
dtypes: bool(1), float64(15), int64(7), object(12)
memory usage: 344.6+ KB

In [5]:
df.describe()

,OSEBuildingID,ZipCode,CouncilDistrictCode,Latitude,Longitude,NumberofBuildings,NumberofFloors,PropertyGFATotal,PropertyGFAParking,PropertyGFABuilding(s),...,ENERGYSTARScore,SiteEUIWN(kBtu/sf),SourceEUIWN(kBtu/sf),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity,BuildingAge
count,1292.000000,1292.000000,1292.000000,1292.000000,1292.000000,1292.000000,1292.000000,1.292000e+03,1292.000000,1.292000e+03,...,887.000000,1292.000000,1292.000000,1.292000e+03,1.292000e+03,1.292000e+03,1.292000e+03,1292.000000,1292.000000,1292.000000
mean,16980.089009,98117.085139,4.322755,47.615780,-122.333473,1.012384,3.563467,8.050065e+04,10492.339783,7.000832e+04,...,64.932356,63.446362,157.632198,4.041426e+06,5.068867e+04,3.132213e+06,7.492177e+05,65.539489,1.176246,56.780186
std,12763.218541,18.670502,2.184448,0.047926,0.023226,0.389444,4.885188,1.113906e+05,34003.058280,9.325319e+04,...,28.746497,57.704478,155.305478,5.083944e+06,2.994394e+05,4.900471e+06,1.050864e+06,68.961151,1.371680,32.777724
min,1.000000,98006.000000,1.000000,47.509590,-122.411820,0.000000,0.000000,1.630000e+04,0.000000,1.092500e+04,...,1.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,1.000000
25%,701.750000,98105.000000,2.000000,47.584500,-122.342998,1.000000,1.000000,2.791875e+04,0.000000,2.679250e+04,...,47.000000,33.500000,73.250002,1.167556e+06,0.000000e+00,6.256888e+05,0.000000e+00,16.552500,0.310000,31.000000
50%,21352.000000,98109.000000,4.000000,47.612350,-122.332890,1.000000,2.000000,4.338350e+04,0.000000,4.112250e+04,...,72.000000,51.500000,127.299999,2.223261e+06,0.000000e+00,1.343574e+06,3.338125e+05,39.435000,0.680000,53.000000
75%,24603.250000,98125.000000,7.000000,47.649855,-122.322373,1.000000,4.000000,8.493400e+04,0.000000,7.404675e+04,...,89.000000,75.000000,188.099998,5.014828e+06,0.000000e+00,3.458040e+06,1.004160e+06,89.627500,1.462500,88.000000
max,50081.000000,98199.000000,7.000000,47.733870,-122.261800,6.000000,99.000000,1.400000e+06,407795.000000,1.400000e+06,...,100.000000,834.400024,2620.000000,4.207171e+07,3.480881e+06,4.168063e+07,5.490664e+06,303.810000,10.680000,116.000000

In [19]:
# On sépare les variables numériques des variables catégorielles:
var_num= df.select_dtypes(include=['int64','float64'])
var_categ= df.select_dtypes(exclude=['int64','float64','bool'])

In [20]:
var_categ.head()

,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,TaxParcelIdentificationNumber,Neighborhood,ListOfAllPropertyUseTypes,LargestPropertyUseType,SecondLargestPropertyUseType,ComplianceStatus
0,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,0659000030,DOWNTOWN,Hotel,Hotel,NaN,Compliant
1,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,0659000220,DOWNTOWN,"Hotel, Parking, Restaurant",Hotel,Parking,Compliant
2,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,0659000640,DOWNTOWN,Hotel,Hotel,NaN,Compliant
3,NonResidential,Hotel,Camlin,1619 9th Avenue,Seattle,WA,0660000825,DOWNTOWN,Hotel,Hotel,NaN,Compliant
4,NonResidential,Other,Paramount Theatre,911 Pine St,Seattle,WA,0660000955,DOWNTOWN,Other - Entertainment/Public Assembly,Other - Entertainment/Public Assembly,NaN,Compliant

In [21]:
var_categ.nunique()

BuildingType                        1
PrimaryPropertyType                21
PropertyName                     1289
Address                          1279
City                                1
State                               1
TaxParcelIdentificationNumber    1241
Neighborhood                       18
ListOfAllPropertyUseTypes         284
LargestPropertyUseType             50
SecondLargestPropertyUseType       43
ComplianceStatus                    4
dtype: int64

On écarte les variables catégorielles qui représentent des constantes:

In [22]:
var_categ= var_categ.drop(['BuildingType','City','State'],axis=1)

On écarte les variables catégorielles ayant des valeurs manquantes:

In [23]:
var_categ= var_categ.drop(['SecondLargestPropertyUseType','LargestPropertyUseType'],axis=1)

In [24]:
var_categ.head()

,PrimaryPropertyType,PropertyName,Address,TaxParcelIdentificationNumber,Neighborhood,ListOfAllPropertyUseTypes,ComplianceStatus
0,Hotel,Mayflower park hotel,405 Olive way,0659000030,DOWNTOWN,Hotel,Compliant
1,Hotel,Paramount Hotel,724 Pine street,0659000220,DOWNTOWN,"Hotel, Parking, Restaurant",Compliant
2,Hotel,HOTEL MAX,620 STEWART ST,0659000640,DOWNTOWN,Hotel,Compliant
3,Hotel,Camlin,1619 9th Avenue,0660000825,DOWNTOWN,Hotel,Compliant
4,Other,Paramount Theatre,911 Pine St,0660000955,DOWNTOWN,Other - Entertainment/Public Assembly,Compliant

On s'intéresse maintenant aux variables numériques:

In [25]:
var_num.columns

Index(['OSEBuildingID', 'ZipCode', 'CouncilDistrictCode', 'Latitude',
       'Longitude', 'NumberofBuildings', 'NumberofFloors', 'PropertyGFATotal',
       'PropertyGFAParking', 'PropertyGFABuilding(s)',
       'LargestPropertyUseTypeGFA', 'SecondLargestPropertyUseTypeGFA',
       'ENERGYSTARScore', 'SiteEUIWN(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)', 'Electricity(kBtu)',
       'NaturalGas(kBtu)', 'TotalGHGEmissions', 'GHGEmissionsIntensity',
       'BuildingAge'],
      dtype='object')

On écarte les variables numériques ayant des valeurs manquantes:

In [26]:
var_num.head()

,OSEBuildingID,ZipCode,CouncilDistrictCode,Latitude,Longitude,NumberofBuildings,NumberofFloors,PropertyGFATotal,PropertyGFAParking,PropertyGFABuilding(s),...,ENERGYSTARScore,SiteEUIWN(kBtu/sf),SourceEUIWN(kBtu/sf),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity,BuildingAge
0,1,98101.0,7,47.61220,-122.33799,1.0,12,88434,0,88434,...,60.0,84.300003,189.000000,7456910.0,2003882.00,3946027.0,1276453.0,249.98,2.83,89
1,2,98101.0,7,47.61317,-122.33393,1.0,11,103566,15064,88502,...,61.0,97.900002,179.399994,8664479.0,0.00,3242851.0,5145082.0,295.86,2.86,20
2,5,98101.0,7,47.61412,-122.33664,1.0,10,61320,0,61320,...,56.0,113.300003,224.000000,6946800.5,2214446.25,2768924.0,1811213.0,286.43,4.67,90
3,10,98101.0,7,47.61390,-122.33283,1.0,11,83008,0,83008,...,27.0,74.500000,154.699997,6062767.5,0.00,2811215.0,2947580.0,176.14,2.12,90
4,11,98101.0,7,47.61327,-122.33136,1.0,8,102761,0,102761,...,NaN,68.800003,152.300003,7067881.5,2276286.50,3636655.0,385189.0,221.51,2.16,90

In [27]:
df_filter1= pd.concat([var_categ, var_num], axis=1)

In [28]:
df_filter1.head()

,PrimaryPropertyType,PropertyName,Address,TaxParcelIdentificationNumber,Neighborhood,ListOfAllPropertyUseTypes,ComplianceStatus,OSEBuildingID,ZipCode,CouncilDistrictCode,...,ENERGYSTARScore,SiteEUIWN(kBtu/sf),SourceEUIWN(kBtu/sf),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity,BuildingAge
0,Hotel,Mayflower park hotel,405 Olive way,0659000030,DOWNTOWN,Hotel,Compliant,1,98101.0,7,...,60.0,84.300003,189.000000,7456910.0,2003882.00,3946027.0,1276453.0,249.98,2.83,89
1,Hotel,Paramount Hotel,724 Pine street,0659000220,DOWNTOWN,"Hotel, Parking, Restaurant",Compliant,2,98101.0,7,...,61.0,97.900002,179.399994,8664479.0,0.00,3242851.0,5145082.0,295.86,2.86,20
2,Hotel,HOTEL MAX,620 STEWART ST,0659000640,DOWNTOWN,Hotel,Compliant,5,98101.0,7,...,56.0,113.300003,224.000000,6946800.5,2214446.25,2768924.0,1811213.0,286.43,4.67,90
3,Hotel,Camlin,1619 9th Avenue,0660000825,DOWNTOWN,Hotel,Compliant,10,98101.0,7,...,27.0,74.500000,154.699997,6062767.5,0.00,2811215.0,2947580.0,176.14,2.12,90
4,Other,Paramount Theatre,911 Pine St,0660000955,DOWNTOWN,Other - Entertainment/Public Assembly,Compliant,11,98101.0,7,...,NaN,68.800003,152.300003,7067881.5,2276286.50,3636655.0,385189.0,221.51,2.16,90

In [29]:
df_filter1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292 entries, 0 to 1291
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PrimaryPropertyType              1292 non-null   object
 1   PropertyName                     1292 non-null   object
 2   Address                          1292 non-null   object
 3   TaxParcelIdentificationNumber    1292 non-null   object
 4   Neighborhood                     1292 non-null   object
 5   ListOfAllPropertyUseTypes        1292 non-null   object
 6   ComplianceStatus                 1292 non-null   object
 7   OSEBuildingID                    1292 non-null   int64
 8   ZipCode                          1292 non-null   float64
 9   CouncilDistrictCode              1292 non-null   int64
 10  Latitude                         1292 non-null   float64
 11  Longitude                        1292 non-null   float64
 12  NumberofBuildings                1292 non-null   float64
 13  NumberofFloors                   1292 non-null   int64
 14  PropertyGFATotal                 1292 non-null   int64
 15  PropertyGFAParking               1292 non-null   int64
 16  PropertyGFABuilding(s)           1292 non-null   int64
 17  LargestPropertyUseTypeGFA        1288 non-null   float64
 18  SecondLargestPropertyUseTypeGFA  682 non-null    float64
 19  ENERGYSTARScore                  887 non-null    float64
 20  SiteEUIWN(kBtu/sf)               1292 non-null   float64
 21  SourceEUIWN(kBtu/sf)             1292 non-null   float64
 22  SiteEnergyUseWN(kBtu)            1292 non-null   float64
 23  SteamUse(kBtu)                   1292 non-null   float64
 24  Electricity(kBtu)                1292 non-null   float64
 25  NaturalGas(kBtu)                 1292 non-null   float64
 26  TotalGHGEmissions                1292 non-null   float64
 27  GHGEmissionsIntensity            1292 non-null   float64
 28  BuildingAge                      1292 non-null   int64
dtypes: float64(15), int64(7), object(7)
memory usage: 292.8+ KB

#### Normalisation des données:

In [32]:
# Importation des bibliothèques nécessaires:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

Application du modèle Ridge

In [33]:
from sklearn.linear_model import Ridge

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, train_size=n_train, test_size=n_test)