In [1]:
# Importation des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## On charge notre dataframe nettoyé:
df= pd.read_csv('consoBat_df9.csv')

In [3]:
df.head()

,OSEBuildingID,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,CouncilDistrictCode,...,SourceEUIWN(kBtu/sf),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),DefaultData,ComplianceStatus,TotalGHGEmissions,GHGEmissionsIntensity,BuildingAge
0,1,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,7,...,189.000000,7456910.0,2003882.00,3946027.0,1276453.0,False,Compliant,249.98,2.83,89
1,2,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,7,...,179.399994,8664479.0,0.00,3242851.0,5145082.0,False,Compliant,295.86,2.86,20
2,5,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,7,...,224.000000,6946800.5,2214446.25,2768924.0,1811213.0,False,Compliant,286.43,4.67,90
3,10,NonResidential,Hotel,Camlin,1619 9th Avenue,Seattle,WA,98101.0,0660000825,7,...,154.699997,6062767.5,0.00,2811215.0,2947580.0,False,Compliant,176.14,2.12,90
4,11,NonResidential,Other,Paramount Theatre,911 Pine St,Seattle,WA,98101.0,0660000955,7,...,152.300003,7067881.5,2276286.50,3636655.0,385189.0,False,Compliant,221.51,2.16,90

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OSEBuildingID                  1367 non-null   int64
 1   BuildingType                   1367 non-null   object
 2   PrimaryPropertyType            1367 non-null   object
 3   PropertyName                   1367 non-null   object
 4   Address                        1367 non-null   object
 5   City                           1367 non-null   object
 6   State                          1367 non-null   object
 7   ZipCode                        1367 non-null   float64
 8   TaxParcelIdentificationNumber  1367 non-null   object
 9   CouncilDistrictCode            1367 non-null   int64
 10  Neighborhood                   1367 non-null   object
 11  Latitude                       1367 non-null   float64
 12  Longitude                      1367 non-null   float64
 13  NumberofBuildings              1367 non-null   float64
 14  NumberofFloors                 1367 non-null   int64
 15  PropertyGFATotal               1367 non-null   int64
 16  PropertyGFAParking             1367 non-null   int64
 17  PropertyGFABuilding(s)         1367 non-null   int64
 18  ListOfAllPropertyUseTypes      1367 non-null   object
 19  LargestPropertyUseType         1367 non-null   object
 20  LargestPropertyUseTypeGFA      1367 non-null   float64
 21  ENERGYSTARScore                934 non-null    float64
 22  SiteEUIWN(kBtu/sf)             1367 non-null   float64
 23  SourceEUIWN(kBtu/sf)           1367 non-null   float64
 24  SiteEnergyUseWN(kBtu)          1367 non-null   float64
 25  SteamUse(kBtu)                 1367 non-null   float64
 26  Electricity(kBtu)              1367 non-null   float64
 27  NaturalGas(kBtu)               1367 non-null   float64
 28  DefaultData                    1367 non-null   bool
 29  ComplianceStatus               1367 non-null   object
 30  TotalGHGEmissions              1367 non-null   float64
 31  GHGEmissionsIntensity          1367 non-null   float64
 32  BuildingAge                    1367 non-null   int64
dtypes: bool(1), float64(14), int64(7), object(11)
memory usage: 343.2+ KB

In [5]:
# On sépare les variables numériques des variables catégorielles:
var_num= df.select_dtypes(include=['int64','float64'])
var_categ= df.select_dtypes(exclude=['int64','float64','bool'])

In [6]:
var_categ.head()

,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,TaxParcelIdentificationNumber,Neighborhood,ListOfAllPropertyUseTypes,LargestPropertyUseType,ComplianceStatus
0,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,0659000030,DOWNTOWN,Hotel,Hotel,Compliant
1,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,0659000220,DOWNTOWN,"Hotel, Parking, Restaurant",Hotel,Compliant
2,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,0659000640,DOWNTOWN,Hotel,Hotel,Compliant
3,NonResidential,Hotel,Camlin,1619 9th Avenue,Seattle,WA,0660000825,DOWNTOWN,Hotel,Hotel,Compliant
4,NonResidential,Other,Paramount Theatre,911 Pine St,Seattle,WA,0660000955,DOWNTOWN,Other - Entertainment/Public Assembly,Other - Entertainment/Public Assembly,Compliant

In [7]:
var_categ.nunique()

BuildingType                        5
PrimaryPropertyType                21
PropertyName                     1365
Address                          1353
City                                1
State                               1
TaxParcelIdentificationNumber    1315
Neighborhood                       18
ListOfAllPropertyUseTypes         284
LargestPropertyUseType             50
ComplianceStatus                    4
dtype: int64

On écarte les variables catégorielles qui représentent des constantes:

In [8]:
var_categ= var_categ.drop(['BuildingType','City','State'],axis=1)

In [9]:
var_categ.head()

,PrimaryPropertyType,PropertyName,Address,TaxParcelIdentificationNumber,Neighborhood,ListOfAllPropertyUseTypes,LargestPropertyUseType,ComplianceStatus
0,Hotel,Mayflower park hotel,405 Olive way,0659000030,DOWNTOWN,Hotel,Hotel,Compliant
1,Hotel,Paramount Hotel,724 Pine street,0659000220,DOWNTOWN,"Hotel, Parking, Restaurant",Hotel,Compliant
2,Hotel,HOTEL MAX,620 STEWART ST,0659000640,DOWNTOWN,Hotel,Hotel,Compliant
3,Hotel,Camlin,1619 9th Avenue,0660000825,DOWNTOWN,Hotel,Hotel,Compliant
4,Other,Paramount Theatre,911 Pine St,0660000955,DOWNTOWN,Other - Entertainment/Public Assembly,Other - Entertainment/Public Assembly,Compliant

In [10]:
#Sélection des variables catégorielles pertinentes pour notre modèle:
var_categ= var_categ.drop(['PropertyName','Address','TaxParcelIdentificationNumber','ListOfAllPropertyUseTypes'],axis=1)

In [11]:
var_categ.columns.tolist()

['PrimaryPropertyType',
 'Neighborhood',
 'LargestPropertyUseType',
 'ComplianceStatus']

On s'intéresse maintenant aux variables numériques:

In [12]:
var_num.columns

Index(['OSEBuildingID', 'ZipCode', 'CouncilDistrictCode', 'Latitude',
       'Longitude', 'NumberofBuildings', 'NumberofFloors', 'PropertyGFATotal',
       'PropertyGFAParking', 'PropertyGFABuilding(s)',
       'LargestPropertyUseTypeGFA', 'ENERGYSTARScore', 'SiteEUIWN(kBtu/sf)',
       'SourceEUIWN(kBtu/sf)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kBtu)', 'NaturalGas(kBtu)', 'TotalGHGEmissions',
       'GHGEmissionsIntensity', 'BuildingAge'],
      dtype='object')

Identification des variables avec forte corrélation (> seuil de 0.7):

Les variables contenant le mot clé GFA sont fortement corrélées (> seuil de 0.7) avec d'autres variables (voir partie EDA): 

(PropertyGFATotal), (PropertyGFABuilding(s)), (LargestPropertyUseTypeGFA)

In [13]:
list_cor= ['PropertyGFATotal','PropertyGFABuilding(s)','LargestPropertyUseTypeGFA']

In [14]:
var_num= var_num.drop(list_cor,axis=1)

Dans cette partie de modélisation, on séléctionne les varaibles targets: (TotalGHGEmissions) et (SiteEnergyUseWN(kBtu) au lieu de (GHGEmissionsIntensity) et (SiteEUIWN(kBtu/sf)) qui prennent pas en compte la surface du site.

In [15]:
var_num= var_num.drop(['GHGEmissionsIntensity','SiteEUIWN(kBtu/sf)'],axis=1)

On écarte les variables non pertinentes pour notre modèle:

In [16]:
var_num= var_num.drop(['OSEBuildingID','ZipCode','CouncilDistrictCode','Latitude','Longitude'],axis=1)

On écarte la variable (ENERGYSTARScore) avec taux de remplissage 66%.

In [17]:
var_num= var_num.drop(['ENERGYSTARScore'],axis=1)

In [18]:
var_num.columns.tolist()

['NumberofBuildings',
 'NumberofFloors',
 'PropertyGFAParking',
 'SourceEUIWN(kBtu/sf)',
 'SiteEnergyUseWN(kBtu)',
 'SteamUse(kBtu)',
 'Electricity(kBtu)',
 'NaturalGas(kBtu)',
 'TotalGHGEmissions',
 'BuildingAge']

In [19]:
df_filter= pd.concat([var_categ, var_num], axis=1)

In [20]:
df_filter.head()

,PrimaryPropertyType,Neighborhood,LargestPropertyUseType,ComplianceStatus,NumberofBuildings,NumberofFloors,PropertyGFAParking,SourceEUIWN(kBtu/sf),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu),TotalGHGEmissions,BuildingAge
0,Hotel,DOWNTOWN,Hotel,Compliant,1.0,12,0,189.000000,7456910.0,2003882.00,3946027.0,1276453.0,249.98,89
1,Hotel,DOWNTOWN,Hotel,Compliant,1.0,11,15064,179.399994,8664479.0,0.00,3242851.0,5145082.0,295.86,20
2,Hotel,DOWNTOWN,Hotel,Compliant,1.0,10,0,224.000000,6946800.5,2214446.25,2768924.0,1811213.0,286.43,90
3,Hotel,DOWNTOWN,Hotel,Compliant,1.0,11,0,154.699997,6062767.5,0.00,2811215.0,2947580.0,176.14,90
4,Other,DOWNTOWN,Other - Entertainment/Public Assembly,Compliant,1.0,8,0,152.300003,7067881.5,2276286.50,3636655.0,385189.0,221.51,90

In [21]:
df_filter.PrimaryPropertyType.unique()

array(['Hotel', 'Other', 'Mixed Use Property', 'K-12 School',
       'Small- and Mid-Sized Office', 'Self-Storage Facility',
       'Warehouse', 'Large Office', 'Retail Store', 'University',
       'Residence Hall', 'Distribution Center', 'Senior Care Community',
       'Worship Facility', 'Medical Office',
       'Supermarket / Grocery Store', 'Refrigerated Warehouse',
       'Low-Rise Multifamily', 'Restaurant', 'Laboratory', 'Hospital'],
      dtype=object)

On prépare le feature (PrimaryPropertyType) pour l'encodage OneHotEncoder:

In [22]:
def PropertyType_preprocessing(text):
    """
    Function to Preprocess the features PrimaryPropertyType .
    """
    text = text.replace("/", "")    # Remove slash
    text = text.replace("-", "")    # Remove dash
    text = text.replace(" ", "")    # Remove whitespaces
    text = text.replace("12", "Twelve")
    return text

df_filter['PrimaryPropertyType'] = df_filter['PrimaryPropertyType'].apply(lambda x: PropertyType_preprocessing(x))

In [23]:
df_filter.PrimaryPropertyType.unique()

array(['Hotel', 'Other', 'MixedUseProperty', 'KTwelveSchool',
       'SmallandMidSizedOffice', 'SelfStorageFacility', 'Warehouse',
       'LargeOffice', 'RetailStore', 'University', 'ResidenceHall',
       'DistributionCenter', 'SeniorCareCommunity', 'WorshipFacility',
       'MedicalOffice', 'SupermarketGroceryStore',
       'RefrigeratedWarehouse', 'LowRiseMultifamily', 'Restaurant',
       'Laboratory', 'Hospital'], dtype=object)

In [24]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PrimaryPropertyType     1367 non-null   object
 1   Neighborhood            1367 non-null   object
 2   LargestPropertyUseType  1367 non-null   object
 3   ComplianceStatus        1367 non-null   object
 4   NumberofBuildings       1367 non-null   float64
 5   NumberofFloors          1367 non-null   int64
 6   PropertyGFAParking      1367 non-null   int64
 7   SourceEUIWN(kBtu/sf)    1367 non-null   float64
 8   SiteEnergyUseWN(kBtu)   1367 non-null   float64
 9   SteamUse(kBtu)          1367 non-null   float64
 10  Electricity(kBtu)       1367 non-null   float64
 11  NaturalGas(kBtu)        1367 non-null   float64
 12  TotalGHGEmissions       1367 non-null   float64
 13  BuildingAge             1367 non-null   int64
dtypes: float64(7), int64(3), object(4)
memory usage: 149.6+ KB

##### Préparation du preprocessor:

In [25]:
# Importation des bibliothèques nécessaires:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.model_selection import GridSearchCV

On définit les variables X et y:

In [26]:
# On écarte les 2 variables de prédictions
X=df_filter.drop(['TotalGHGEmissions','SiteEnergyUseWN(kBtu)'],axis=1)

Prédiction de la variable de consommation d'énergie: (SiteEnergyUseWN(kBtu))

In [27]:
y= df_filter['SiteEnergyUseWN(kBtu)']

In [28]:
#spliting data to training/test data:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,shuffle= True)

In [29]:
# dimensions X_train et X_test
print(X_train.shape)
print(X_test.shape)

(956, 12)
(411, 12)

On a un dataframe avec des variables catégorielles et numériques, donc on fait appel à (make_column_transformer)

In [38]:
col_categ= var_categ.columns.tolist()
col_num= ['NumberofBuildings',
 'NumberofFloors',
 'PropertyGFAParking',
 'SourceEUIWN(kBtu/sf)',
 'SteamUse(kBtu)',
 'Electricity(kBtu)',
 'NaturalGas(kBtu)',
 'BuildingAge']

In [39]:
column_trans= make_column_transformer((OneHotEncoder(handle_unknown='ignore'),col_categ), (StandardScaler(), col_num))

In [41]:
column_trans.fit(X_train)

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('onehotencoder',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='ignore',
                                               sparse=True),
                                 ['PrimaryPropertyType', 'Neighborhood',
                                  'LargestPropertyUseType',
                                  'ComplianceStatus']),
                                ('standardscaler',
                                 StandardScaler(copy=True, with_mean=True,
                                                with_std=True),
                                 ['NumberofBuildings', 'NumberofFloors',
                                  'PropertyGFAParking', 'SourceEUIWN(kBtu/sf)',
                                  'SteamUse(kBtu)', 'Electricity(kBtu)',
                                  'NaturalGas(kBtu)', 'BuildingAge'])],
                  verbose=False)

#### Application du modèle: Ridge Regression

In [42]:
# Importation du modèle et instaciation de l'objet:
from sklearn.linear_model import Ridge
ridge= Ridge()

In [43]:
# On crée le modèle à l'aide de pipeline
pipe= make_pipeline(column_trans,ridge)

In [44]:
# liste des paramètres de l'estimateur:
pipe.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'columntransformer', 'ridge', 'columntransformer__n_jobs', 'columntransformer__remainder', 'columntransformer__sparse_threshold', 'columntransformer__transformer_weights', 'columntransformer__transformers', 'columntransformer__verbose', 'columntransformer__onehotencoder', 'columntransformer__standardscaler', 'columntransformer__onehotencoder__categories', 'columntransformer__onehotencoder__drop', 'columntransformer__onehotencoder__dtype', 'columntransformer__onehotencoder__handle_unknown', 'columntransformer__onehotencoder__sparse', 'columntransformer__standardscaler__copy', 'columntransformer__standardscaler__with_mean', 'columntransformer__standardscaler__with_std', 'ridge__alpha', 'ridge__copy_X', 'ridge__fit_intercept', 'ridge__max_iter', 'ridge__normalize', 'ridge__random_state', 'ridge__solver', 'ridge__tol'])

##### Cross validation avec: cross_val_score()

In [45]:
cross_val_score(pipe,X_train,y_train,cv=5).mean()

0.9277723688140288

##### Optimisation des hyperparamètres avec: GridSearchCV()

In [46]:
# Définition des paramètres:
parameter= {'ridge__alpha': [0.001, 0.01, 0.1, 1]}
#Grille de recherche:
grille= GridSearchCV(pipe ,parameter, cv=5)

In [47]:
grille.fit(X_train,y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('onehotencoder',
                                                                         OneHotEncoder(categories='auto',
                                                                                       drop=None,
                                                                                       dtype=<class 'numpy.float64'>,
                                                                                       handle_unknown='ignore',
                                                                                       sparse=True),
                                                                         ['PrimaryPropertyType',
                                                                          'N...
                                                                          'NaturalGas(kBtu)',
                                                                          'BuildingAge'])],
                                                          verbose=False)),
                                       ('ridge',
                                        Ridge(alpha=1.0, copy_X=True,
                                              fit_intercept=True, max_iter=None,
                                              normalize=False,
                                              random_state=None, solver='auto',
                                              tol=0.001))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'ridge__alpha': [0.001, 0.01, 0.1, 1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [48]:
grille.best_score_

0.9277723688140288

In [49]:
grille.best_params_

{'ridge__alpha': 1}

In [50]:
model= grille.best_estimator_

In [51]:
model.score(X_test,y_test)

0.9763632338537155

In [52]:
pred= model.predict(X_test)

Implémentation d'une fonction pour les métriques:

In [53]:
from sklearn.metrics import *

def compute_scores(y_test, prediction):
    """Function which computes RMSE, MSE, MAE, Median AE and R^2 of a prediction compared to true values."""
      
    rmse = mean_squared_error(y_test, prediction, squared=False)
    mse = mean_squared_error(y_test, prediction, squared=True)
    mae = mean_absolute_error(y_test, prediction)
    median_ae = median_absolute_error(y_test, prediction)
    r2 = r2_score(y_test, prediction)
    
    scores = [rmse, mse, mae, median_ae, r2]

    print("RMSE : {:,.0f}".format(rmse).replace(',', ' '))
    print("MSE : {:,.0f}".format(mse).replace(',', ' '))
    print("MAE : {:,.0f}".format(mae).replace(',', ' '))
    print("Median AE : {:,.0f}".format(median_ae).replace(',', ' '))
    print("R² : {:.3f}".format(r2).replace(',', ' '))
    
    return scores

Evaluation des métriques:

In [54]:
compute_scores(y_test, pred)

RMSE : 778 789
MSE : 606 512 751 792
MAE : 335 502
Median AE : 164 551
R² : 0.976

[778789.2858739044,
 606512751791.9858,
 335501.8486497953,
 164551.40182146616,
 0.9763632338537155]

#### Application du modèle: Support Vector Regression

In [55]:
from sklearn.svm import SVR
svr= SVR()

In [56]:
# On crée le modèle à l'aide de pipeline
from sklearn.pipeline import make_pipeline
pipe= make_pipeline(column_trans,svr)

In [57]:
# liste des paramètres de l'estimateur:
pipe.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'columntransformer', 'svr', 'columntransformer__n_jobs', 'columntransformer__remainder', 'columntransformer__sparse_threshold', 'columntransformer__transformer_weights', 'columntransformer__transformers', 'columntransformer__verbose', 'columntransformer__onehotencoder', 'columntransformer__standardscaler', 'columntransformer__onehotencoder__categories', 'columntransformer__onehotencoder__drop', 'columntransformer__onehotencoder__dtype', 'columntransformer__onehotencoder__handle_unknown', 'columntransformer__onehotencoder__sparse', 'columntransformer__standardscaler__copy', 'columntransformer__standardscaler__with_mean', 'columntransformer__standardscaler__with_std', 'svr__C', 'svr__cache_size', 'svr__coef0', 'svr__degree', 'svr__epsilon', 'svr__gamma', 'svr__kernel', 'svr__max_iter', 'svr__shrinking', 'svr__tol', 'svr__verbose'])

##### Cross validation avec: cross_val_score()

In [58]:
cross_val_score(pipe,X_train,y_train,cv=5)

array([-0.11258277, -0.10570256, -0.12376963, -0.13928717, -0.07746552])

##### Optimisation des hyperparamètres avec: GridSearchCV()

In [59]:
parameters = {'svr__kernel': ('linear', 'rbf','poly'), 'svr__C':[1,3,5,7,10],'svr__gamma': [1e-5,1e-4,1e-3,1e-2],'svr__epsilon':[0.1,0.2,0.3,0.4,0.5]}
#Grille de recherche:
grille= GridSearchCV(pipe ,parameters, cv=5)

In [60]:
grille.fit(X_train,y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('onehotencoder',
                                                                         OneHotEncoder(categories='auto',
                                                                                       drop=None,
                                                                                       dtype=<class 'numpy.float64'>,
                                                                                       handle_unknown='ignore',
                                                                                       sparse=True),
                                                                         ['PrimaryPropertyType',
                                                                          'N...
                                            gamma='scale', kernel='rbf',
                                            max_iter=-1, shrinking=True,
                                            tol=0.001, verbose=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'svr__C': [1, 3, 5, 7, 10],
                         'svr__epsilon': [0.1, 0.2, 0.3, 0.4, 0.5],
                         'svr__gamma': [1e-05, 0.0001, 0.001, 0.01],
                         'svr__kernel': ('linear', 'rbf', 'poly')},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [61]:
grille.best_score_

-0.10784500790731175

In [62]:
grille.best_params_

{'svr__C': 10,
 'svr__epsilon': 0.1,
 'svr__gamma': 1e-05,
 'svr__kernel': 'linear'}